.board-row::after {
  clear: both;
  content: "";
  display: table;
}

.status, .score {
  display: flex;
  flex-direction: row;
}

.status, .score {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 478px;
  padding: 50px 50px 70px;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 479px) {
  .game {
    height: 540px;
    width: 420px;
  }
}

@media only screen and (max-width: 419px) {
  .game {
    width: 352px;
  }
}

@media only screen and (max-height: 559px) {
  .game {
    height: 450px;
  }
}

.btn-container {
  text-align: center;
}

.play-again {
  position: relative;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  height: 60px;
  width: 200px;
  background: none;
  border: 4px solid;
  border-radius: 15px;
  color: #fff;
}

.play-again::after, .play-again::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 14px;
  transform: skewX(50deg);
  transition: .4s linear;
  background: #000;
}

.play-again::before {
  top: -5px;
  left: 10%;
}

.play-again::after {
  bottom: -5px;
  right: 10%;
}

.play-again:hover::before {
  left: 80%;
}

.play-again:hover::after {
  right: 80%;
}
