body {
  font-family: 'ZCOOL KuaiLe', cursive;
}

.square {
  border: 2px solid #999;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 120px;
  border-radius: 5px;
  height: 120px;
  width: 120px;
  margin: 3px;
  text-align: center;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.6);
  background: none;

  
}

.X {
  color: #EA2027;
}

.O {
  color: #1289A7;
}

@media only screen and (max-width: 479px) {
  .square {
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 419px) {
  .square {
    height: 60px;
    width: 60px;
    line-height: 60px;
    list-style: none;
  }
}