body {
  font: 14px "Century Gothic", Fatura, sans-serif;
  margin: 20px;
  background-image: url(./images/bg5.jpg);
  
  
  background-size: cover;
  /*background-position-y: 15%;*/
  /*background-repeat: no-repeat;*/
}
